body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: red;
}


.message-input {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.message-list {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}


/* uiverse.io */


/* Messageinput */
.Message {
  width: 325px;
  height: 40px;
  border-radius: 10px;
  background-color: #40414f;
  transform: translate(0px, 0px);
  box-shadow: 5px 5px #34343f;
}

.MsgInput {
  font-size: 18px;
  border-radius: 5px;
  background-color: #40414f;
  border: none;
  outline: none;
  width: 250px;
  height: 30px;
  transform: translate(5px, -3px);
  color: white;
  padding: 10px;
  font-weight: bold;
}

.SendSVG {
  width: 30px;
  height: 30px;
  border-width: 50px;
  transform: translate(20px, 5px);
  background-size: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.SendSVG:hover {
  background-color: #2b2b35;
}

.l {
  position: absolute;
  width: 1%;
  height: 30px;
  background-color: #2e2f38;
  transform: translate(-20px, 5px);
}


/* Login-signup Submit button */


.login-signup-submit-button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #7700ff;
  color: ghostwhite;
}

.login-signup-submit-button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.login-signup-submit-button:hover span {
  color: black;
}

.login-signup-submit-button::before,
.login-signup-submit-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.login-signup-submit-button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.login-signup-submit-button:hover::before {
  transform: translate3d(100%, 0, 0);
}



/* Sign up button */

.nav-signup-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.nav-signup-button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.nav-signup-button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(90deg, rgb(45, 6, 219) 0%, rgb(143, 2, 224) 49%, rgb(255, 208, 0) 100%);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.nav-signup-button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

/* .nav{
  width: 100%;
  position: fixed;
  z-index: 10;
  margin-bottom: 510px;
} */

@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Login button */

.nav-login-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.nav-login-button:hover {
  background: rgb(220, 211, 235);
  color: rgb(33, 0, 85);
  transition: 0.2s ease-in-out;
}



/* Loading */

.typing-indicator {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}


.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #390279;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}



/* Chat-box */

.message-list {
  background: linear-gradient(270deg, #3703f4, #4700a3, #0a3abd);
  width: 80%;
  height: 500px;
  overflow: auto;
  scrollbar-width: none;
  margin: auto;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
  border-radius: 20px;
}

/* Message-list-scroll */

.message-list::-webkit-scrollbar {
  width: 0px;
}


/* Messages */

.card-title {
  color: #ebc95b;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1em;
  margin-left: 20px;

}

.right-title{
  margin-right: 20px;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
  word-wrap: break-word;

}

.small-desc {
  font-size: 20px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #4315ac, #3925ad);
  border-radius: 4px 0 32px 0;
  /* box-shadow: inset 0px 0px 15px 1px #ffffff; */
}

.go-corner-right{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #4315ac, #3925ad);
  border-radius: 0 4px 0 32px;
  
}



.card {
  text-align: start;
  display: block;
  position: relative;
  max-width: 50%;
  max-height: 320px;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background-color: #2b2c35;
  background: linear-gradient(135deg, #250a57, #1d0d75);
  box-shadow: 0px 0px 9px 1px #2b0063;
  font-family: Arial, Helvetica, sans-serif;
}

.right-card{
  margin-left: 50%;
  text-align: end;
  background: linear-gradient(-135deg, #250a57, #1d0d75);
}

@media (width <=767px) {

  .card{
    max-width: 80%;
  }
  

}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #120922, #140f31);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.right-card:before{
  left: -16px;
}